/.idea/.gitignore
/.idea/fish-detection.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/__pycache__/config.cpython-36.pyc
/__pycache__/engine.cpython-36.pyc
/coco_evaluate/__pycache__/coco_utils.cpython-36.pyc
/.idea/fish_detection.iml
/.idea/workspace.xml
/__pycache__/utils.cpython-36.pyc
/coco_evaluate/__pycache__/coco_eval.cpython-36.pyc
/datasets/__pycache__/fish_dataset.cpython-36.pyc
/transforms/__pycache__/transforms_boxes.cpython-36.pyc
